footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 219px;
    @media all and (max-width: 768px){
        height: 190px;    
    }

    img {
        margin: 30px 0 30px 0;
    }

    p {
        font-size: 24px;
        font-weight: 500;
        color: white;
        @media all and (max-width: 768px){
            font-size: 12px;
        }
    }
}