.navigation {
    display: flex;
    align-items:  center;
}

.navigation ul{
    display: flex;
    gap: 50px;
    @media all and (max-width: 768px){
        gap: 20px;
    }
}

.navigation li {
    font-size: 24px;
    font-weight: bold;    
    color: black;
    padding: 15px;
    border-radius: 10px;
    transition: 0.2s;

    @media all and (max-width: 768px){
        font-size: 16px;
        font-weight: bold;
    }

    &:hover{
        transition: 0.2s;
        background-color: rgb(221, 221, 221);
    }
}

.nav-active {
    text-decoration: underline #FF6060;
}
