
::-webkit-scrollbar{
    display: none;
}

html{
    width: auto;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

header {
    padding-left: 80px;
    padding-right: 80px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    @media all and (max-width: 768px){
        padding-left: 50px;
        padding-right: 50px;
    }
}

main {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;

}
li {
    list-style-type: none;
    color: #FF6060;
}

a {
    text-decoration: none;
}